body{
    margin: 0;
}


header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #6495ED;
    height: 75px;
    position: sticky;
    top: 0;
}
header div{
    margin-left: 75px;
}

nav{
    display: flex;    
    margin-right: 30px;    
}

nav a{
    padding: 20px;
}

nav a:hover{
    padding: 20px;
    background: blue;    
}

a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

input,label{
    padding: 10px;
    font-size: 20px;
    font-weight:550;   
}

.main{
    display: flex;
    min-height: 100vh;
}

aside{    
    margin: 10px;
    padding: 10px;
    border-top: solid 2px #6495ED;    
    border-bottom: solid 2px #6495ED;    
    border-radius: 15px;   
    width: 30%;
    min-width: 30%;
    height:fit-content;
}

aside ul{
    list-style:outside;
}

section{
    display: flex;
    width: 100%;
}

form, form div{
    
    display: flex;
    flex-direction: column;    
    
}

form div{

    margin: 15px 0 15px 0;
}

input:focus, input{
    border-color:blue;    
    outline: 0 none;
    padding: 10px;
    border-radius: 15px;
}
.seccionPc{        
    flex-wrap: wrap;
}

.gama{ 
    align-items: center;
    flex-direction: column;      
}

.gama-edit{
    margin-top: 180px;
}

.gama-edit form{
    align-items: flex-start;
}

.gama article{
    width: 70%;
}

.gama article form{
    width: 100%;
}
img{
    width: 200px;
}

article{      
    
    margin: 10px;
    border-right: solid 2px #6495ED;    
    border-radius: 20px;
    height:fit-content;
    min-width: 45%;
}

.btn_editar-eliminar{
    margin: 10px;
}

.btn_editar-eliminar a{
    padding: 10px;
}

ul{
    list-style: none;   
}

/* fin estilo pagina Home */

/* Inicio estilo pagina detail  */

.detail{
    display: flex;
    flex-direction: column;
    width: 75%;
    
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
}

table, tr, td{
    border: solid 2px black;
    border-collapse: collapse;
    text-align: center;
}

table{
    width: 90%;
    height: 90%;
}

.x3{
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tablediv{
    height: auto;
}

/* Comienzo estilo login */

#login{
    justify-content: center;
    align-items: center;
}

/* Fin estilo login */

/* fin estilo pagina detail  */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    height: 75px;
    bottom: 0;
}