body{
    margin: 0;
    background-image: url(../imagenes/shubham-dhage-NsPqV-WsZYY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

h1,h2,label,a,li, .login-form p,header a{
    color: rgb(231, 233, 235);
}

select,option, input{
    color:  #6495ED;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #6495ED;
    height: 75px;
    position: sticky;
    top: 0;
}


header div{
    margin-left: 75px;
}

nav{
    display: flex;    
    margin-right: 30px;    
}

nav a{
    padding: 20px;
}

nav a:hover{
    padding: 20px;
    background: rgb(85, 105, 126);  
}

a{    
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

input,label,select{    
    
    font-size: 18px;
    font-weight:600;   
}

.main{
    display: flex;
    min-height: 100vh;
}

aside{    
    margin: 75px 30px;
    padding: 10px;
    border-top: solid 2px #6495ED;    
    border-bottom: solid 2px #6495ED;    
    border-radius: 15px;   
    width: 30%;
    min-width: 30%;
    height:fit-content;
}

aside ul{
    list-style:outside;
}
aside li{
    border-radius: 15px;
    padding: 2px;
}
aside a{
    list-style: none;
   
    
}

section{
    display: flex;
    width: 100%;
}

form, form div{
    
    display: flex;
    flex-direction: column;    
    
}

form div{

    margin: 15px 0 15px 0;
}

input:focus,select, input{
    border-color:#6495ED;    
    outline: 0 none;
    padding: 10px;
    border-radius: 15px;
}
.seccionPc{        
    flex-wrap: wrap;
}

.seccionPc article{        
    margin: 25px 15px;
}

.gama{ 
    align-items: center;
    flex-direction: column;      
}

.main-mensaje{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    margin: auto;
}

.mensaje{
    margin-top: 200px;
}

.botones{
    display: flex;
}

.botones a, #editar-eliminar{

    padding: 5px;
    border-radius: 10px;
    border: solid 3px  rgb(187, 192, 197);
    margin: 2px;
}

.botones a:hover, #editar-eliminar:hover, aside li:hover{
    background: rgb(85, 105, 126);
}
.login{
    justify-content: center;   
}


.pc-gama-edit, .login{
    margin: 75px 0 75px 0;
}

.pc-gama-edit div{
    display: flex;
    flex-direction: column;
}
.gama-edit form{
    align-items: flex-start;
}


.gama article{
    width: 60%;
    margin: 50px;
}

.gama article form{
    width: 100%;
}
img{
    width: 250px;
    
}

.login-form{
    margin: 250px 0 200px 0;
}
article, .login-form{         
    
    border-right: solid 2px #6495ED;    
    border-radius: 20px;
    height:fit-content;
    min-width: 45%;
}

.btn_editar-eliminar{
    padding: 10px 0;
}

.btn_editar-eliminar a{
    padding: 10px;
}

ul{
    list-style: none; 
    padding: 0;
}

/* fin estilo pagina Home */

/* Inicio estilo pagina detail  */



.detail{
    display: flex;
    flex-direction: column;    
    margin: 250px;    
    
}

.botones-detail{
    margin: 25px auto;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;    
}


p, table, #loguear-crear, .atributo{
    color: #6495ED;
    font-size: 1.5rem;
    font-weight: 500;
}

h1, h2{
    font-size: 2.5rem;    
}


table, tr, td{
    
    border-collapse: collapse;
    text-align: left;
}

table{
    width: 90%;
    height: 90%;
}

.x3{
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tablediv{
    height: auto;
}

/* Comienzo estilo login */

#login{
    justify-content: center;
    align-items: center;
}

/* Fin estilo login */

/* fin estilo pagina detail  */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6495ED;
    height: 75px;
    bottom: 0;
}